<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Adactin Test Suite">

  <!-- Register the ExtentReports TestNG listener to generate extent-report.html and attach screenshots -->
  <listeners>
    <listener class-name="com.utility.ExtentTestNGListener"/>
  </listeners>



  <test name="Default Tests">


      <parameter name="BROWSERNAME" value="chrome"/>
      <parameter name="CICD" value="true"/>

    <classes>
      <!-- Example: include main test class(es). Add or adjust class names as needed. -->
      <class name="com.adactin.AdactinHotel"/>
      <!-- You can add more classes here, or use packages in secondary suite files. -->
    </classes>
  </test>
</suite>
